{% extends 'base.html.twig' %}

{% block title %}Art de chiner - Objets en vente actuellement{% endblock %}

{% block content %}
<h1>Nos objets anciens</h1>
<hr>
<div class="row">
    {% for product in productsList %}
        <div class="col-md-4">
            <div class="product-item text-center">
                <img src="/uploads/{{ product.picture }}" alt="{{ product.name }}" class="img-fluid">
                <h5>{{ product.name }}</h5>
                <span class="product-subtitle">{{product.subtitle}}</span>
                <span class="product-price">{{ product.price }}</span>
            </div>    
        </div>     
    {% endfor %}
</div>



{% endblock %}
