{% extends 'base.html.twig' %}

{% block title %}Art de chiner - Votre article: {{ product.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <img src="/uploads/{{ product.picture }}" alt="{{ product.name }}" class="img-thumbnail">
    </div>
    <div class="col-md-8">
        <h3>{{ product.name }}</h3>
        <p>{{ product.subtitle }}</p>
        <span class="product-price">{{ (product.price /100) |number_format (2) }} €</span>
        <hr>
        <p>{{ product.description }}</p>
        <hr>
        <a href="{{ path ('add_product_to_cart', {'id' : product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
    </div>
</div>




    </div>    
</div>     
{% endblock %}